@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<TicketSystem.Data.ApplicationUser>



@*<div class="row">
        <div class="col s4">
            <div class="center promo promo-example">
                <i class="material-icons">flash_on</i>
                <p class="promo-caption">Speeds up development</p>
                <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
            </div>
        </div>
        <div class="col s4">
            <div class="center promo promo-example">
                <i class="material-icons">group</i>
                <p class="promo-caption">User Experience Focused</p>
                <p class="light center">By utilizing elements and principles of Material Design, we were able to create a framework that focuses on User Experience.</p>
            </div>
        </div>
        <div class="col s4">
            <div class="center promo promo-example">
                <i class="material-icons">settings</i>
                <p class="promo-caption">Easy to work with</p>
                <p class="light center">We have provided detailed documentation as well as specific code examples to help new users get started.</p>
            </div>
        </div>
    </div>*@
<div class="row">
    <div class="col s12">
        <a asp-controller="Home" asp-action="Create" class="waves-effect waves-light btn">
            <i class="material-icons left red">add</i>Create a User
        </a>




        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal bottom-sheet">
            <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>







        <table class="table  responsive-table     striped bordered">
            <thead>
                <tr><th>ID</th><th>Name</th><th>Email</th><th>Update</th><th>Action</th></tr>
            </thead>
            <tbody>
                @foreach (TicketSystem.Data.ApplicationUser user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td> @(user.IsAdmin ? "Admin" : "User")</td>

                        <td><a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@user.Id">Update</a></td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
@*<div class="row">
        <div class="col s12">

            <h2 class="header">Basic Card</h2>

            <a asp-controller="Home" asp-action="Create" class="waves-effect waves-light btn">
                <i class="material-icons left red">add</i>Create a User
            </a>

            <table class="table table-sm table-bordered">
                <tr><th>ID</th><th>Name</th><th>Email</th><th>Update</th><th>Delete</th></tr>
                @foreach (TicketSystem.Data.ApplicationUser user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td> @(user.IsAdmin ? "Admin" : "User")</td>

                        <td><a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@user.Id">Update</a></td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>*@

@section Scripts{ 
<script type="text/javascript">
    $(document).ready(function () {
        $('.modal').modal();
    });
</script>
}
